*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/model/target/
/utils/target/
/integration/target/
/integration/nbproject/
/ArraySet/nbproject/private/
/ArraySet/dist/
/ArraySet/build/
/business/nbproject/
/business/target/
/richclient/target/
/derbyDB/target/
/protocol/target/
/server/target/
/proxy/target/
/connection/target/
/connectionXML/target/
/serverXML/target/

*.settings/
*.project
*.classpath

